/*--------------
  Global
---------------*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Press Start 2P', cursive, sans-serif;
  background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
  color: #8acc25;
}

/* Use a table to display the rules text */

td:nth-child(1)  {
    text-align: left;
}

td:nth-child(2)  {
    text-align: right;
    padding-left: 4em;
}

/* Use flexbox for the main layout of the screen */

.flex {
  display: flex;
}

/* Styled 'weapon-button' as shown in the example here:
   https://www.w3schools.com/howto/howto_css_icon_buttons.asp
*/

.weapon-button {
  background-color: #05aa6d;
  /* Remove borders */
  border: none;
  border-radius: 5px;
  /* White text */
  color: white;
  /* Some padding */
  padding: 5px 15px;
  /* Set a font size */
  font-size: 16px;
  cursor: pointer;
}

/* Place "YOUR MOVE!" in a circle based on the example shown by Armand at
   https://stackoverflow.com/questions/4801181/vertically-and-horizontally-centering-text-in-circle-in-css-like-iphone-notific
*/

.circle {
  background: #527a16;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 27px;
  color: black;
  text-align: center;
  margin-top: 4em;
}

/* Initial Form handling */

.form-container {
  display: flex;
}

/* Add some spacing to the 'challenge' text */

#challenge-text p {
  margin: 1em;
}

.show-form {
  display: block;
  font-size: 75%;
}

.left-margin {
  margin-left: 1em;
}

.radio-gap1 input[type=radio] {
  margin: 4px 0;
}

.playername-control {
  border: 2px solid #000;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 1em 1em;
  text-transform: capitalize;
  width: 15%;
}

#align-rounds {
  margin: 0 1em 1em 28px;
}

#align-random {
  margin: 0 2em 0 2px;
  line-height: 2em;
}

/* Aligned the radio buttons horizontally as shown by Paulie_D at
   https://stackoverflow.com/questions/31145973/how-to-align-radio-buttons-horizontally-below-labels
*/

#rounds-radio-group .radio-wrap {
  display: inline-block;
}

#rounds-radio-group label {
  display: block;
  text-align: center;
  margin: 0 0.2em;
}

#rounds-radio-group input[type="radio"] {
  display: block;
  margin: 0.5em auto;
}

/* ============================================= */

input[type=submit],
.playagain-button {
  padding: 5px 15px;
  background: #6725cc;
  color: white;
  font-size: 150%;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
}

input[type=submit] {
    margin: 2em auto;
}

.playagain-button {
  display: block;
  text-align: center;
}

.column-centre-aligned {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

/* Handle the length of the player's name */

.column-centre-aligned h2 {
  font-size: 100%;
}

/* Hide the game area to begin with */

.show-game {
  display: none;
}

.header-margin-forform {
  margin: 1em 0 2em 0;
  text-align: center;
}

.header-margin-forgame {
  margin-top: 1em;
  text-align: center;
}

.side-margins {
  margin: 0 20vw;
}

/* This is how the image of each character will be shown */

img {
  width: 14vw;
  height: 14vw;
  object-fit: cover;
  object-position: top;
}

.hide-element {
  visibility: hidden;
}

.display-message {
  text-align: center;
  margin-top: 1em;
}

.final-score-message {
  text-align: center;
  margin: 2em;
  line-height: 2em;
}

/* Rules Text Handling */

.rules-container {
  font-family: "Krona One", Arial, Tahoma, sans-serif;
  color: #fff;
  text-align: center;
  font-size: 150%;
}

.rules-header {
  margin-top: 2em;
  font-size: 125%;
}

.video-container {
  display: block;
  font-family: "Krona One", Arial, Tahoma, sans-serif;
  color: #fff;
  text-align: center;
}

/* No line and blue colour */

.a, .a:link, a:visited, a {
  text-decoration: none;
  color: #8acc25;
}

.centre-error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-message-style {
  padding: 16px;
  /* lightgray */
  background-color: #d3d3d3;
  font-family: "Times New Roman", Times, serif;
  color: #000;
}

.centre-error-message h1,
.centre-error-message h2 {
  font-size: 100%;
}


/* ================= MEDIA QUERIES ================= */

@media (min-width: 960px) {

  .final-score-message {
      font-size: 120%;
  }

}

@media (max-width: 960px) {

  h1,
  h2 {
    font-size: 75%;
  }

  .header-margin-forgame {
    font-size: 100%;
  }

/* Create more width */

  .side-margins {
    margin: 0 10vw;
  }

}

@media (max-width: 840px) {

  img {
    width: 24vw;
    height: 24vw;
  }

  .playername-control {
    width: 30%;
  }

}

@media (max-width: 768px) {

  .rules-container {
    /* font-size: 80%; */
  }

  img {
    width: 34vw;
    height: 34vw;
    object-fit: cover;
    object-position: top;
  }

  /* Handle the length of the player's name */

  .column-centre-aligned h2 {
    font-size: 75%;
  } 

}

@media (max-width: 650px) {

  .header-margin-forgame {
    font-size: 75%;
  }

  /* Handle the length of the player's name */

  .column-centre-aligned h2 {
    font-size: 70%;
  } 

/* Handle the spacing of the weapon buttons */

  .flex {
    justify-content: space-between;
  }

  .weapon-button {
    margin: 1em 0;
    max-width: min-content;
    font-size: 75%;
  }

}

@media (max-width: 500px) {

    * {
      font-size: 88%;
    }
  
    h1,
    h2 {
      font-size: 70%;
    }

}

@media (max-width: 460px) {

  .show-form {
    font-size: 60%;
  }

  .rules-header {
    font-size: 125%;
  }

  .rules-container {
    /* font-size: 65%; */
}

  /* Handle the length of the player's name */

  .column-centre-aligned h2 {
    font-size: 90%;
  }   

}

@media (max-width: 415px) {

  .header-margin-forform {
    font-size: 70%;
  }     

  .show-form {
    font-size: 60%;
  }

  .rules-container {
    font-size: 200%; /* todo 55% */
  }

}

@media (max-width: 375px) {

  #align-random {
    margin: 0 2em 0 6px;
  } 

/* Handle the spacing of the weapon buttons */

  .flex {
    flex-wrap: wrap;
    justify-content: space-between;
  } 

  .weapon-button {
    font-size: 180%;
    padding: 5px 20px;
  }

}

@media (max-width: 500px) {

  #align-rounds {
    margin: 0 1em 1em 10px;
  }

}

/* Handle the spacing of the weapon buttons */

@media (max-width: 325px) {

  .weapon-button {
    font-size: 150%;
    padding: 5px 15px;
  }

  /* After testing with https://ui.dev/amiresponsive
     The YOUR MOVE! needs to be smaller
  */

  .circle {
  width: 90px;
  height: 90px;
  font-size: 18px;
  }

}

@media (max-width: 320px) {

  h1,
  h2 {
    font-size: 100%;
  }

  .rules-container {
    /* font-size: 100%; */
  }

  .rules-header {
    font-size: 115%;
  }
}

/* MEDIA QUERIES REGARDING HEIGHT */

/* Handle Nest Hub: Height 600px */

@media (max-height: 601px) {
  .show-form p {
    margin: 0;
  }

  input[type=submit] {
    margin: 1em auto;
  }

  .rules-container {
    font-size: 80%;
  }  

}

/* todo
@media (min-height: 960px) {
  .rules-container {
    font-size: 100%;
  }
}
*/